@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Inter", sans-serif;
}

@layer components {
  .cont {
    @apply container mx-auto;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes borderMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-border {
  background-size: 200% 200%;
  animation: borderMove 4s linear infinite;
}

#contact_us{
  scroll-margin-top: 150px;
}